<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>diresto</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Diresto discover cafe and resto" />
    <meta name="keywords" content="Diresto discover cafe and restaurant" />

    <link rel="apple-touch-icon" href="./assets/icon-192x192.png" />

    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">

    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/icon-192x192.png">

    <meta name="msapplication-TileColor" content="#ff9642">
    <meta name="msapplication-TileImage" content="./assets/icon-192x192.png">
    <meta name="theme-color" content="#ff9642" />
    <noscript></noscript>
</head>
<body>
   <a href="#main-content" class="skip-link" aria-label="click for jump to content">Jump to content</a> 
    <header>
        <app-bar></app-bar>
        <hero-elm></hero-elm>
    </header>
    <main id="main-content" role="main"></main>
    <div id="toast">
        <div id="icon-toast">Icon</div>
        <div id="msg-toast">notification</div>
    </div>
    <footer-elm></footer-elm>
</body>
</html>